%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-mail2:before {
    content: "\ea84";
  }
  ._icon-instagram:before {
    content: "\ea92";
  }
  ._icon-whatsapp:before {
    content: "\ea93";
  }
  ._icon-vk:before {
    content: "\ea98";
  }